<%- include('header') -%>
		
		<table width="100%">
		<% if(user) {%>
				<td width="25%">
					<div class="dropdown">
						<button class="w3-button w3-blue"> Nova Publicação
						</button>
						<div class="dropdown-content">
							<a href="/newpub/evento">Evento</a>
							<a href="/newpub/ideia">Ideia</a>
							<a href="/newpub/reg_desp">Registo Desportivo</a>
							<a href="/newpub/reg_form">Registo de formação</a>
							<a href="/newpub/album">Album fotográfico</a>
							<a href="/newpub/receita">Receita culinária</a>
							<a href="/newpub/ev_cient">Evento Cientéfico</a>
							<a href="/newpub/outro">Outro</a>
						</div>
					</div>
					<a href='/users/logout'><input type='button' value='Logout' class='w3-button w3-blue' /></a>
				</td>
		<%} else {%>
			<td width="25%">
				<a href='/users/register'><input type='button' value='Registar' class='w3-button w3-blue' /></a> 
				<a href='/users/login'><input type='button' value='Login' class='w3-button w3-blue' /></a>
			</td>
			<%}%>
			<td width="75%">
				<form  align='right' action="/" method="GET" class="form-inline">
					<div class="form-group">
						<input style="width:90%" type="text" name="search" placeholder="procura publicações..." class="form-control">
						<input type="submit" value="Search" class="w3-button w3-blue">
					</div>
				</form>
			</td>	
		</div>
		</table>
		</header>
		

		<table width="100%" class="w3-table">
			<td width="20%" valign="top">
				<h3>Índice por Tipo</h3>
				<ul>
						<% 
						var eventos = []
						var ideias = []
						var regs_desp = []
						var regs_form = []
						var albuns = []
						var receitas = []
						var evts_cient = []
						var outros = []
						
						for(var i=0; i<ind.length; i++){%>
							<% if(ind[i].priv === 'public' || (user && ind[i].username == user.username)){ 
								if(ind[i].tipo === 'Evento'){
									eventos[eventos.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Ideia'){
									ideias[ideias.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Registo Desportivo'){
									regs_desp[regs_desp.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Registo de Formação'){
									regs_form[rf] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Álbum Fotográfico'){
									albuns[albuns.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Receita Culinária'){
									receitas[receitas.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Participação em Evento Científico'){
									evts_cient[evts_cient.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Outro'){
									outros[outros.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
							}
						}	%>
							<% if(eventos.length!=0){ %>
							<li><a href="/pub/t/eventos">Eventos</a></li>
								<ul>
									<% for(var i=0; i<eventos.length; i++){ %>
										<li><a href="/pub/show/<%=eventos[i].id%>"><%= eventos[i].titulo %></a></li>
									<% } %>
								</ul>
							<% } %>
							<% if(ideias.length!=0){ %>
							<li><a href="/pub/t/ideias">Ideias</a></li>
								<ul>
									<% for(var i=0; i<ideias.length; i++){ %>
										<li><a href="/pub/show/<%=ideias[i].id%>"><%= ideias[i].titulo %></a></li>
									<% } %>
								</ul>
							<% } %>
							<% if(regs_desp.length!=0){ %>
							<li><a href="/pub/t/regs_desp">Registos Desportivos</a></li>
								<ul>
									<% for(var i=0; i<regs_desp.length; i++){ %>
										<li><a href="/pub/show/<%=regs_desp[i].id%>"><%= regs_desp[i].titulo %></a></li>
									<% } %>
								</ul>
							<% } %>
							<% if(regs_form.length!=0){ %>
							<li><a href="/pub/t/regs_form">Registos de Formação</a></li>
								<ul>
									<% for(var i=0; i<regs_desp.length; i++){ %>
										<li><a href="/pub/show/<%=regs_form[i].id%>"><%= regs_form[i].titulo %></a></li>
									<% } %>
								</ul>
							<% } %>
							<% if(albuns.length!=0){ %>
							<li><a href="/pub/t/albuns">Álbuns Fotográficos</a></li>
								<ul>
									<% for(var i=0; i<albuns.length; i++){ %>
										<li><a href="/pub/show/<%=albuns[i].id%>"><%= albuns[i].titulo %></a></li>
									<% } %>
								</ul>
							<% } %>
							<% if(receitas.length!=0){ %>
							<li><a href="/pub/t/receitas">Receitas Culinárias</a></li>
								<ul>
									<% for(var i=0; i<receitas.length; i++){ %>
										<li><a href="/pub/show/<%=receitas[i].id%>"><%= receitas[i].titulo %></a></li>
									<% } %>
								</ul>
							<% } %>
							<% if(evts_cient.length!=0){ %>
							<li><a href="/pub/t/evts_cient">Eventos Científicos</a></li>
								<ul>
									<% for(var i=0; i<evts_cient.length; i++){ %>
										<li><a href="/pub/show/<%=evts_cient[i].id%>"><%= evts_cient[i].titulo %></a></li>
									<% } %>
								</ul>
							<% } %>
							<% if(outros.length!=0){ %>
							<li><a href="/pub/t/outros">Outros</a></li>
								<ul>
									<% for(var i=0; i<outros.length; i++){ %>
										<li><a href="/pub/show/<%=outros[i].id%>"><%= outros[i].titulo %></a></li>
									<% } %>
								</ul>
							<% } %>
						</ul>
			</td>
			<td width="80%" valign="top">
			<div class='w3-container'>	
				<div class="col-md-6">
					<% if(noMatch !== undefined) { %>
						<h3><%=noMatch %></h3>
					<% } %> 
				</div>
					<% 
					var p = 0;
					for(var i=0; i<pubs.length; i++){%>
					<% if(pubs[i].priv == 'public' || (user && pubs[i].username == user.username)){ %>
					<fieldset>
					<legend><b><%= pubs[i].tipo %></b></legend>
					<table class='w3-table'>
						<% if(pubs[i].hora != "" && pubs[i].hora != null){ p++%>
						<tr>
							<th>Publicação de </th>
							<td>
								<% var data = new Date(Date.parse(pubs[i].hora)) %>
								<%=data.getDate()%>/<%=data.getMonth()+1%>/<%=data.getFullYear()%>
								às <%=data.getHours()%>:<%if(data.getMinutes() < 10){%>0<%= data.getMinutes() %>
								<% } else { %>
								<%= data.getMinutes() %>
								<% } %>
							</td> 
						</tr>
						<% } %>       
						<% if(pubs[i].titulo != "" && pubs[i].titulo != null){%>						
						<tr>
							<th>Titulo </th>
							<td><%= pubs[i].titulo %></td>  
						</tr>
						<% } %>       
						<% if(pubs[i].local != "" && pubs[i].local != null){%>						
						<tr>
							<th>Local </th>
							<td><%= pubs[i].local %></td>  
						</tr>
						<% } %>
						<% if(pubs[i].desc != "" && pubs[i].desc != null){%>						
						<tr>
							<th>Descrição </th>
							<td><%= pubs[i].desc %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].duracao != "" && pubs[i].duracao != null){%>						
						<tr>
							<th>Duração </th>
							<td><%= pubs[i].duracao %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].actividade != "" && pubs[i].actividade != null){%>						
						<tr>
							<th>Actividade </th>
							<td><%= pubs[i].actividade %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].creditacao != "" && pubs[i].creditacao != null){%>						
						<tr>
							<th>Creditação </th>
							<td><%= pubs[i].creditacao %></td> 
						</tr>
						<% } %>					
						<tr>
							<th>Autor </th>
							<td><a href="/users/p/<%= pubs[i].username%>"><%= pubs[i].autor %></a></td> 
						</tr>
						<% if(pubs[i].pic){
						for(j = 0; j < pubs[i].pic.length; j++){ 
						if(pubs[i].pic[j] != "" && pubs[i].pic[j] != null){%>						
							<tr>
								<th>Foto <%= j+1%>: </th>
								<td>
									
									<element onclick='openModal<%=i%>();currentSlide(<%=j+1%>)'  class="hover-shadow cursor"><%= pubs[i].pic[j].nome_img %></element>
								</td> 
							</tr>
						<% }}} %>
						<div id="myModal<%=i%>" class="modal">
							<span class="close cursor" onclick="closeModal<%=i%>()">&times;</span>
							<div class="modal-content">		
							<% if(pubs[i].pic){
								for(j = 0; j < pubs[i].pic.length; j++){ 
								if(pubs[i].pic[j] != "" && pubs[i].pic[j] != null){%>	

								<div class="mySlides<%=i%>">
									<div class="numbertext"><%=j+1%> / <%=pubs[i].pic.length%></div>
									<img src='http://localhost:3000/images/<%=pubs[i].pic[j].id_img%>' style="width:100%" class="center fit" >
								</div>
							<% }}} %>
							<!-- Next/previous controls -->
							<a class="prev" onclick="plusSlides<%=i%>(-1)">&#10094;</a>
							<a class="next" onclick="plusSlides<%=i%>(1)">&#10095;</a>
							</div>
						</div>
						
					</table>
					<script>
							function openModal<%=i%>() {
							  document.getElementById('myModal<%=i%>').style.display = "block";
							}
							
							function closeModal<%=i%>() {
							  document.getElementById('myModal<%=i%>').style.display = "none";
							}

							var slideIndex = 1;
							showSlides<%=i%>(slideIndex);

							function plusSlides<%=i%>(n) {
								  showSlides<%=i%>(slideIndex += n);
							}

							function currentSlide(n) {
								showSlides<%=i%>(slideIndex = n);
							}

							function showSlides<%=i%>(n) {
							var k;
							var slides = document.getElementsByClassName("mySlides<%=i%>");
							var dots = document.getElementsByClassName("demo");
							var captionText = document.getElementById("caption");
							if (n > slides.length) {slideIndex = 1}
							if (n < 1) {slideIndex = slides.length}
							for (k = 0; k < slides.length; k++) {
								slides[k].style.display = "none";
							}
							for (k = 0; k < dots.length; k++) {
								dots[k].className = dots[k].className.replace(" active", "");
							}
							slides[slideIndex-1].style.display = "block";
							dots[slideIndex-1].className += " active";
							captionText.innerHTML = dots[slideIndex-1].alt;
							}
					</script>
					<% if(user && pubs[i].username == user.username) {%>
					<a href="/pub/edit/<%=pubs[i]._id%>" class="btn btn-default">Editar</a>
					<a href="#" class="btn btn-danger delete-pub" data-id='<%=pubs[i]._id%>' >Remover</a>
					<%} %> 
					
				</fieldset>
					<% }} %> 
					      	 
			</div>
			<% if(p==0 &&  noMatch==undefined) {%>
			&nbsp;
			<b> Sem publicações :( <br> &nbsp; Crie uma! </b><br>
			<% } %>
			</td>
		</table>		
    </body>
</html>