<%- include('header') -%>
			<h4>As Suas Publicações</h4>
		</header>
			<div class='w3-container'>	

					<% 
					var d = new Date
					var hora = d.toISOString()
					for(var i=0; i<pubs.length; i++){%>
					<fieldset>
					<legend><b><%= pubs[i].tipo %></b></legend>
					<table class='w3-table'>
						<% if(pubs[i].hora != "" && pubs[i].hora != null){%>						
						<tr>
							<th>Publicação de </th>
							<td><%= pubs[i].hora %></td> 
						</tr>
						<% } %>       
						<% if(pubs[i].titulo != "" && pubs[i].titulo != null){%>						
						<tr>
							<th>Titulo </th>
							<td><%= pubs[i].titulo %></td>  
						</tr>
						<% } %>       
						<% if(pubs[i].local != "" && pubs[i].local != null){%>						
						<tr>
							<th>Local </th>
							<td><%= pubs[i].local %></td>  
						</tr>
						<% } %>
						<% if(pubs[i].desc != "" && pubs[i].desc != null){%>						
						<tr>
							<th>Descrição </th>
							<td><%= pubs[i].desc %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].duracao != "" && pubs[i].duracao != null){%>						
						<tr>
							<th>Duração </th>
							<td><%= pubs[i].duracao %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].actividade != "" && pubs[i].actividade != null){%>						
						<tr>
							<th>Actividade </th>
							<td><%= pubs[i].actividade %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].creditacao != "" && pubs[i].creditacao != null){%>						
						<tr>
							<th>Creditação </th>
							<td><%= pubs[i].creditacao %></td> 
						</tr>
						<% } %>					
						<tr>
							<th>Autor </th>
							<td><%= pubs[i].autor %></td> 
						</tr>
						<% if(pubs[i].pic){
						for(j = 0; j < pubs[i].pic.length; j++){ 
						if(pubs[i].pic[j] != "" && pubs[i].pic[j] != null){%>						
							<tr>
								<th>Foto1: </th>
								<td><a href='http://localhost:3000/images/<%=pubs[i].pic[j].id_img%>'+ ><%= pubs[i].pic[j].nome_img %></a></td> 
							</tr>
							<% }}} %>


						
					</table>
					</fieldset>
					<% } %>       	 
			</div>
			<% if(pubs.length==0) {%>
			&nbsp;
			<b> Sem publicações :( <br> &nbsp; Crie uma! </b><br>
			<% } %>
			<% if(user) {%>
				<div align='right' >
						<div class="dropdown">
							<button class="w3-button w3-green"> Nova Publicação
							</button>
							<div class="dropdown-content">
									<a href="./evento">Evento</a>
									<a href="./ideia">Ideia</a>
									<a href="./reg_desp">Registo Desportivo</a>
									<a href="./reg_form">Registo de formação</a>
									<a href="./album">Album fotográfico</a>
									<a href="./receita">Receita culinária</a>
									<a href="./ev_cient">Evento Cientéfico</a>
									<a href="./outro">Outro</a>
								  </div>
						</div>
					</div>
				<a href='./users/logout'><input type='button' value='Logout' class='w3-button w3-green' /></a>
			<%} else {%>
				<a href='./users/register'><input type='button' value='Registar' class='w3-button w3-green' /></a> 
				<a href='./users/login'><input type='button' value='Login' class='w3-button w3-green' /></a> 
			 
			<%}%>
			</div>
    </body>
</html>