<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
		<title>O meu eu digital...</title>	
		<style>
				.navbar {
					overflow: hidden;
					background-color: #333;
					font-family: Arial;
				}
				
				.navbar a {
					float: left;
					font-size: 16px;
					color: white;
					text-align: center;
					padding: 14px 16px;
					text-decoration: none;
				}
				
				.dropdown {
					float: left;
					overflow: hidden;
				}
				
				.dropdown .dropbtn {
					font-size: 16px;    
					border: none;
					outline: none;
					color: white;
					padding: 14px 16px;
					background-color: inherit;
				}
				
				.navbar a:hover, .dropdown:hover .dropbtn {
					background-color: rgb(255, 0, 0);
				}
				
				.dropdown-content {
					display: none;
					position: absolute;
					background-color: #f9f9f9;
					min-width: 160px;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					z-index: 1;
				}
				
				.dropdown-content a {
					float: none;
					color: black;
					padding: 12px 16px;
					text-decoration: none;
					display: block;
					text-align: left;
				}
				
				.dropdown-content a:hover {
					background-color: #ddd;
				}
				
				.dropdown:hover .dropdown-content {
					display: block;
				}
				</style>
    </head>
    <body>
		<div class='w3-card-4'/>
		<header class='w3-container w3-green'>
			<h1><b>omeueu</b></h1>
			<h4>As Suas Publicações</h4>
		</header>
			<div class='w3-container'>	

					<% 
					var d = new Date
					var hora = d.toISOString()
					for(var i=0; i<pubs.length; i++){%>
					<fieldset>
					<legend><b><%= pubs[i].tipo %></b></legend>
					<table class='w3-table'>
						<% if(pubs[i].hora != "" && pubs[i].hora != null){%>						
						<tr>
							<th>Publicação de </th>
							<td><%= pubs[i].hora %></td> 
						</tr>
						<% } %>       
						<% if(pubs[i].titulo != "" && pubs[i].titulo != null){%>						
						<tr>
							<th>Titulo </th>
							<td><%= pubs[i].titulo %></td>  
						</tr>
						<% } %>       
						<% if(pubs[i].local != "" && pubs[i].local != null){%>						
						<tr>
							<th>Local </th>
							<td><%= pubs[i].local %></td>  
						</tr>
						<% } %>
						<% if(pubs[i].desc != "" && pubs[i].desc != null){%>						
						<tr>
							<th>Descrição </th>
							<td><%= pubs[i].desc %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].duracao != "" && pubs[i].duracao != null){%>						
						<tr>
							<th>Duração </th>
							<td><%= pubs[i].duracao %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].actividade != "" && pubs[i].actividade != null){%>						
						<tr>
							<th>Actividade </th>
							<td><%= pubs[i].actividade %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].creditacao != "" && pubs[i].creditacao != null){%>						
						<tr>
							<th>Creditação </th>
							<td><%= pubs[i].creditacao %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].pic1 != "" && pubs[i].pic1 != null){%>						
							<tr>
								<th>Foto1: </th>
								<td><a href='/../public/images/ontologia-laundry.txt'><%= pubs[i].pic1 %></a></td> 
							</tr>
							<% } %>


						
					</table>
					</fieldset>
					<% } %>       	 
			</div>
			<% if(pubs.length==0) {%>
			&nbsp;
			<b> Sem publicações :( <br> &nbsp; Crie uma! </b><br>
			<% } %>
			<div align='right'>
				<div class="dropdown">
					<button class="novapub"> Nova Publicação
					</button>
					<div class="dropdown-content">
							<a href="./evento">Evento</a>
							<a href="./ideia">Ideia</a>
							<a href="./reg_desp">Registo Desportivo</a>
							<a href="./reg_form">Registo de formação</a>
							<a href="./album">Album fotográfico</a>
							<a href="./receita">Receita culinária</a>
							<a href="./ev_cient">Evento Cientéfico</a>
							<a href="./outro">Outro</a>
						  </div>
				</div>
			</div>
    </body>
</html>