<%- include('header') -%>
		<% if(user) {%>
			<div align='right' >
					<div class="dropdown">
						<button class="w3-button w3-green"> Nova Publicação
						</button>
						<div class="dropdown-content">
								<a href="./evento">Evento</a>
								<a href="./ideia">Ideia</a>
								<a href="./reg_desp">Registo Desportivo</a>
								<a href="./reg_form">Registo de formação</a>
								<a href="./album">Album fotográfico</a>
								<a href="./receita">Receita culinária</a>
								<a href="./ev_cient">Evento Cientéfico</a>
								<a href="./outro">Outro</a>
							</div>
					</div>
				</div>
			<a href='./users/logout'><input type='button' value='Logout' class='w3-button w3-green' /></a>
		<%} else {%>
			<a href='./users/register'><input type='button' value='Registar' class='w3-button w3-green' /></a> 
			<a href='./users/login'><input type='button' value='Login' class='w3-button w3-green' /></a> 
		
		<%}%>
		</div>
			
		</header>
			<div class='w3-container'>	
					<% 
					var d = new Date
					var hora = d.toISOString()
					var p = 0;
					for(var i=0; i<pubs.length; i++){%>
					<% if(pubs[i].priv == 'public' || (user && pubs[i].username == user.username)){ %>
					<fieldset>
					<legend><b><%= pubs[i].tipo %></b></legend>
					<table class='w3-table'>
						<% if(pubs[i].hora != "" && pubs[i].hora != null){ p++%>
						<tr>
							<th>Publicação de </th>
							<td><%= pubs[i].hora %></td> 
						</tr>
						<% } %>       
						<% if(pubs[i].titulo != "" && pubs[i].titulo != null){%>						
						<tr>
							<th>Titulo </th>
							<td><%= pubs[i].titulo %></td>  
						</tr>
						<% } %>       
						<% if(pubs[i].local != "" && pubs[i].local != null){%>						
						<tr>
							<th>Local </th>
							<td><%= pubs[i].local %></td>  
						</tr>
						<% } %>
						<% if(pubs[i].desc != "" && pubs[i].desc != null){%>						
						<tr>
							<th>Descrição </th>
							<td><%= pubs[i].desc %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].duracao != "" && pubs[i].duracao != null){%>						
						<tr>
							<th>Duração </th>
							<td><%= pubs[i].duracao %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].actividade != "" && pubs[i].actividade != null){%>						
						<tr>
							<th>Actividade </th>
							<td><%= pubs[i].actividade %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].creditacao != "" && pubs[i].creditacao != null){%>						
						<tr>
							<th>Creditação </th>
							<td><%= pubs[i].creditacao %></td> 
						</tr>
						<% } %>					
						<tr>
							<th>Autor </th>
							<td><%= pubs[i].autor %></td> 
						</tr>
						<% if(pubs[i].pic){
						for(j = 0; j < pubs[i].pic.length; j++){ 
						if(pubs[i].pic[j] != "" && pubs[i].pic[j] != null){%>						
							<tr>
								<th>Foto <%= j+1%>: </th>
								<td>
									
									<element onclick='openModal<%=i%>();currentSlide(<%=j+1%>)'  class="hover-shadow cursor"><%= pubs[i].pic[j].nome_img %></element>
								</td> 
							</tr>
						<% }}} %>
						<div id="myModal<%=i%>" class="modal">
							<span class="close cursor" onclick="closeModal<%=i%>()">&times;</span>
							<div class="modal-content">		
							<% if(pubs[i].pic){
								for(j = 0; j < pubs[i].pic.length; j++){ 
								if(pubs[i].pic[j] != "" && pubs[i].pic[j] != null){%>	

								<div class="mySlides<%=i%>">
									<div class="numbertext"><%=j+1%> / <%=pubs[i].pic.length%></div>
									<img src='http://localhost:3000/images/<%=pubs[i].pic[j].id_img%>' style="width:100%" class="center fit" >
								</div>
							<% }}} %>
							<!-- Next/previous controls -->
							<a class="prev" onclick="plusSlides<%=i%>(-1)">&#10094;</a>
							<a class="next" onclick="plusSlides<%=i%>(1)">&#10095;</a>
							</div>
						</div>
						
					</table>
					<script>
							function openModal<%=i%>() {
							  document.getElementById('myModal<%=i%>').style.display = "block";
							}
							
							function closeModal<%=i%>() {
							  document.getElementById('myModal<%=i%>').style.display = "none";
							}

							var slideIndex = 1;
							showSlides<%=i%>(slideIndex);

							function plusSlides<%=i%>(n) {
								  showSlides<%=i%>(slideIndex += n);
							}

							function currentSlide(n) {
								showSlides<%=i%>(slideIndex = n);
							}

							function showSlides<%=i%>(n) {
							var k;
							var slides = document.getElementsByClassName("mySlides<%=i%>");
							var dots = document.getElementsByClassName("demo");
							var captionText = document.getElementById("caption");
							if (n > slides.length) {slideIndex = 1}
							if (n < 1) {slideIndex = slides.length}
							for (k = 0; k < slides.length; k++) {
								slides[k].style.display = "none";
							}
							for (k = 0; k < dots.length; k++) {
								dots[k].className = dots[k].className.replace(" active", "");
							}
							slides[slideIndex-1].style.display = "block";
							dots[slideIndex-1].className += " active";
							captionText.innerHTML = dots[slideIndex-1].alt;
							}
					</script>
					<% if(user) {%>
					<a href="/pub/edit/<%=pubs[i]._id%>" class="btn btn-default">Editar</a>
					<a href="#" class="btn btn-danger delete-pub" data-id='<%=pubs[i]._id%>' >Remover</a>
					<%} %> 
					
				</fieldset>
					<% }} %> 
					      	 
			</div>
			<% if(p==0) {%>
			&nbsp;
			<b> Sem publicações :( <br> &nbsp; Crie uma! </b><br>
			<% } %>
			
    </body>
</html>