<%- include('header') -%>
		
		
		<!-- Se user está autenticado (Nova Publicação/Logout) -->
		<div class="topnav">
		<% if(user) {%>
				
					<div class="dropdown">
							<button class="dropbtn">Nova Publicação 
									<i class="fa fa-caret-down"></i>
								  </button>
						<div class="dropdown-content">
							<a href="/newpub/evento">Evento</a>
							<a href="/newpub/ideia">Ideia</a>
							<a href="/newpub/reg_desp">Registo Desportivo</a>
							<a href="/newpub/reg_form">Registo Académico</a>
							<a href="/newpub/album">Album fotográfico</a>
							<a href="/newpub/receita">Receita culinária</a>
							<a href="/newpub/festividade">Festividade</a>
							<a href="/newpub/viagem">Viagem</a>
							<a href="/newpub/outro">Outro</a>
						</div>
					</div>
					<a href='/users/logout'>Logout</a>
					<a href='/users/p/<%=user.username%>'>Perfil</a>
				
				
		<!-- Se user não está autenticado (Registo/Login) -->
		<%} else {%>
			
				<a href='/users/register'>Registar</a> 
				<a href='/users/login'>Login</a>
			
			<%}%>
		
			<div class="search-container">
				<form   action="/" method="GET" class="form-inline">
					<div class="form-group"></div>
						<input style="width:80%" type="text" name="search" placeholder="procura publicações..." class="form-control">
						<button type="submit"><i class="fa fa-search"></i></button>
					</div>
				</form>
			</div>
		</div>
		<%- messages('message.ejs', locals) %>
		
		
		

		<div class="row">
				<div class="column side">
						<% 
						var eventos = []
						var ideias = []
						var regs_desp = []
						var regs_form = []
						var albuns = []
						var receitas = []
						var festividades = []
						var outros = []
						var viagens = []

						var anos = []
						var inds = 0
						
						for(var i=0; i<ind.length; i++){
							if(ind[i].priv === 'public' || (user && ind[i].username == user.username)){ 
								inds++;
								if(ind[i].tipo === 'Evento'){
									eventos[eventos.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Ideia'){
									ideias[ideias.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Registo Desportivo'){
									regs_desp[regs_desp.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Registo de Formação'){
									regs_form[rf] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Álbum Fotográfico'){
									albuns[albuns.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Receita Culinária'){
									receitas[receitas.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Festividade'){
									festividades[festividades.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Viagem'){
									viagens[viagens.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
								if(ind[i].tipo === 'Outro'){
									outros[outros.length] = { id:ind[i]._id, titulo:ind[i].titulo }
								}

								var data = new Date(Date.parse(ind[i].hora))
								var xmes = data.getMonth()
								var xano = data.getFullYear()
								var flag = false

								for(var j=0; j<anos.length; j++){
									if(anos[j].ano===xano)
									{
										anos[j].mes[xmes].pubs[anos[j].mes[xmes].pubs.length] = { id:ind[i]._id, titulo:ind[i].titulo }
										flag = true
									}
								}
								
								if(!flag){
									var l = anos.length
									anos[l] = { ano: xano,
												mes: [
													{pubs: []},
													{pubs: []},
													{pubs: []},
													{pubs: []},
													{pubs: []},
													{pubs: []},
													{pubs: []},
													{pubs: []},
													{pubs: []},
													{pubs: []},
													{pubs: []},
													{pubs: []}
												]
									}
									anos[l].mes[xmes].pubs[0] = { id:ind[i]._id, titulo:ind[i].titulo }
								}
							}
						}	
						
						if(inds!=0)
						{
						%>


						<h3>Índice por Tipo</h3>
						<div onclick="expandCollapse()" id="expand-collapse" align="left">&#8680</div>
						<ul>
							<% if(eventos.length!=0){ %>
							<div id="eventos" class="mainmenu">
							<li><a href="/pub/t/eventos">Eventos</a></li>
								<div class="submenu">
							<ul>
									<% for(var i=0; i<eventos.length; i++){ %>
										<li><a href="/pub/show/<%=eventos[i].id%>"><%= eventos[i].titulo %></a></li>
									<% } %>
								</ul>
							</div>
						</div>
							<% } %>
							<% if(ideias.length!=0){ %>
							<div id="ideias" class="mainmenu">
							<li><a href="/pub/t/ideias">Ideias</a></li>
								<div class="submenu">
								<ul>
									<% for(var i=0; i<ideias.length; i++){ %>
										<li><a href="/pub/show/<%=ideias[i].id%>"><%= ideias[i].titulo %></a></li>
									<% } %>
								</ul>
							</div>
						</div>
							<% } %>
							<% if(regs_desp.length!=0){ %>
								<div id="reg_desp" class="mainmenu">
										
							<li><a href="/pub/t/regs_desp">Registos Desportivos</a></li>
							<div class="submenu">
								<ul>
									<% for(var i=0; i<regs_desp.length; i++){ %>
										<li><a href="/pub/show/<%=regs_desp[i].id%>"><%= regs_desp[i].titulo %></a></li>
									<% } %>
								</ul>
							</div>
						</div>
							<% } %>


							<% if(regs_form.length!=0){ %>
						<div id="reg_forma" class="mainmenu">
							<li><a href="/pub/t/regs_form">Registos de Formação</a></li>
							<div class="submenu">
								<ul>
									<% for(var i=0; i<regs_desp.length; i++){ %>
										<li><a href="/pub/show/<%=regs_form[i].id%>"><%= regs_form[i].titulo %></a></li>
									<% } %>
								</ul>
							</div>
						</div>
							<% } %>
							<% if(albuns.length!=0){ %>
						<div id="albuns" class="mainmenu">
							<li><a href="/pub/t/albuns">Álbuns Fotográficos</a></li>
							<div class="submenu">
								<ul>
									<% for(var i=0; i<albuns.length; i++){ %>
										<li><a href="/pub/show/<%=albuns[i].id%>"><%= albuns[i].titulo %></a></li>
									<% } %>
								</ul>
							</div>
						</div>
							<% } %>

							<% if(receitas.length!=0){ %>
						<div id="receitas" class="mainmenu">
							<li><a href="/pub/t/receitas">Receitas Culinárias</a></li>
							<div class="submenu">
								<ul>
									<% for(var i=0; i<receitas.length; i++){ %>
										<li><a href="/pub/show/<%=receitas[i].id%>"><%= receitas[i].titulo %></a></li>
									<% } %>
								</ul>
							</div>
						</div>
							<% } %>

							
							<% if(festividades.length!=0){ %>
						<div id="festividades" class="mainmenu">
							<li><a href="/pub/t/festividades">Festividades</a></li>
							<div class="submenu">
								<ul>
									<% for(var i=0; i<festividades.length; i++){ %>
										<li><a href="/pub/show/<%=festividades[i].id%>"><%= festividades[i].titulo %></a></li>
									<% } %>
								</ul>
							</div>
						</div>
							<% } %>

							<% if(viagens.length!=0){ %>
								<div id="festividades" class="mainmenu">
								<li><a href="/pub/t/viagens">Viagens</a></li>
								<div class="submenu">
									<ul>
										<% for(var i=0; i<viagens.length; i++){ %>
											<li><a href="/pub/show/<%=viagens[i].id%>"><%= viagens[i].titulo %></a></li>
										<% } %>
									</ul>
								</div>
							</div>
								<% } %>
							<% if(outros.length!=0){ %>
						<div id="outros" class="mainmenu">
							<li><a href="/pub/t/outros">Outros</a></li>
							<div class="submenu">
								<ul>
									<% for(var i=0; i<outros.length; i++){ %>
										<li><a href="/pub/show/<%=outros[i].id%>"><%= outros[i].titulo %></a></li>
									<% } %>
								</ul>
							</div>
						</div>
							<% } %>
						</ul>


						<div onclick="expandCollapse2()" id="expand-collapse2" align="left">&#8680</div>
						<h3>Índice por Data</h3>
						<ul>
							<% 
							for(var i = 0; i < anos.length; i++){
								%>
								<div id="outros" class="mainmenu2">
								<li><a href="/pub/showChrono/<%=anos[i].ano%>"><%=anos[i].ano%></a></li>
								<div class="submenu2">
								<ul>
									<% 
									for(var j = 11; j >= 0; j--){
										if(anos[i].mes[j].pubs.length !== 0){
											var mesText
											switch(j){
												case 0: mesText = 'Janeiro'; break;
												case 1: mesText = 'Fevereiro'; break;
												case 2: mesText = 'Março'; break;
												case 3: mesText = 'Abril'; break;
												case 4: mesText = 'Maio'; break;
												case 5: mesText = 'Junho'; break;
												case 6: mesText = 'Julho'; break;
												case 7: mesText = 'Agosto'; break;
												case 8: mesText = 'Setembro'; break;
												case 9: mesText = 'Outubro'; break;
												case 10: mesText = 'Novembro'; break;
												case 11: mesText = 'Dezembro'; break;
											}
										%>
										<li><a href="/pub/showChrono/<%=anos[i].ano%>/<%=(j+1)%>"><%=mesText%></a></li>
										<ul>
										<% 
											for(var k = 0; k < anos[i].mes[j].pubs.length; k++){
												%>
												<li><a href="/pub/show/<%=anos[i].mes[j].pubs[k].id%>"><%=anos[i].mes[j].pubs[k].titulo%></a></li>
										<% } %>
										</ul>	
									<%		
										}
									}
									%>	
								</ul>
							</div>
						</div>
							<%
							}
						}
							%>
						</ul>
			</td>
		</div>
		
		

			<!-- RESULTADOS -->
			
			<div class="column middle">
				<div class="col-md-6">
					<% if(noMatch !== undefined) { %>
						<h3><%=noMatch %></h3>
					<% } %> 
				</div>
					<% 
					var p = 0;
					for(var i=0; i<pubs.length; i++){%>
					<% if(pubs[i].priv == 'public' || (user && pubs[i].username == user.username)){ %>
					<div class="w3-card-4 w3-margin w3-white">
							<header class="w3-container">
									<h3><b><%= pubs[i].tipo %></b></h3>

								  </header>
					
					<table class='w3-table'>
						<% if(pubs[i].hora != "" && pubs[i].hora != null){ p++%>
						<tr>
							<th>Publicação de </th>
							<td>
								<% var data = new Date(Date.parse(pubs[i].hora)) %>
								<%=data.getDate()%>/<%=data.getMonth()+1%>/<%=data.getFullYear()%>
								às <%=data.getHours()%>:<%if(data.getMinutes() < 10){%>0<%= data.getMinutes() %><% } else { %><%= data.getMinutes() %>
								<% } %>
							</td> 
						</tr>
						<% } %> 
						<% if(pubs[i].subtipo != "" && pubs[i].subtipo != null){%>						
							<tr>
								<th>Sub-tipo </th>
								<td><%= pubs[i].subtipo %></td>  
							</tr>
							<% } %>        
						<% if(pubs[i].titulo != "" && pubs[i].titulo != null){%>						
						<tr>
							<th>Titulo </th>
							<td><%= pubs[i].titulo %></td>  
						</tr>
						<% } %>       
						<% if(pubs[i].local != "" && pubs[i].local != null){%>						
						<tr>
							<th>Local </th>
							<td><%= pubs[i].local %></td>  
						</tr>
						<% } %>
						<% if(pubs[i].desc != "" && pubs[i].desc != null){%>						
						<tr>
							<th>Descrição </th>
							<td><%= pubs[i].desc %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].duracao != "" && pubs[i].duracao != null){%>						
						<tr>
							<th>Duração </th>
							<td><%= pubs[i].duracao %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].actividade != "" && pubs[i].actividade != null){%>						
						<tr>
							<th>Actividade </th>
							<td><%= pubs[i].actividade %></td> 
						</tr>
						<% } %>
						<% if(pubs[i].creditacao != "" && pubs[i].creditacao != null){%>						
						<tr>
							<th>Creditação </th>
							<td><%= pubs[i].creditacao %></td> 
						</tr>
						<% } %>					
						<tr>
							<th>Autor </th>
							<td><a href="/users/p/<%= pubs[i].username%>"><%= pubs[i].autor %></a></td> 
						</tr>
						<% if(pubs[i].pic){
						for(j = 0; j < pubs[i].pic.length; j++){ 
						if(pubs[i].pic[j] != "" && pubs[i].pic[j] != null){%>						
							<tr>
								<th>Foto <%= j+1%>: </th>
								<td>
									<element onclick='openModal<%=i%>();currentSlide(<%=j+1%>)'  class="hover-shadow cursor"><img src='http://localhost:3000/images/<%=pubs[i].pic[j].id_img%>' style="width:20%"></element>
								</td> 
							</tr>
						<% }}} %>
						<div id="myModal<%=i%>" class="modal">
							<span class="close cursor" onclick="closeModal<%=i%>()">&times;</span>
							<div class="modal-content">		
							<% if(pubs[i].pic){
								for(j = 0; j < pubs[i].pic.length; j++){ 
								if(pubs[i].pic[j] != "" && pubs[i].pic[j] != null){%>	

								<div class="mySlides<%=i%>">
									<div class="numbertext"><%=j+1%> / <%=pubs[i].pic.length%></div>
									<img src='http://localhost:3000/images/<%=pubs[i].pic[j].id_img%>' style="width:100%" class="center fit" >
								</div>
							<% }}} %>
							<!-- Next/previous controls -->
							<a class="prev" onclick="plusSlides<%=i%>(-1)">&#10094;</a>
							<a class="next" onclick="plusSlides<%=i%>(1)">&#10095;</a>
							</div>
						</div>
					</table>

					<script>
							function openModal<%=i%>() {
							  document.getElementById('myModal<%=i%>').style.display = "block";
							}
							
							function closeModal<%=i%>() {
							  document.getElementById('myModal<%=i%>').style.display = "none";
							}

							var slideIndex = 1;
							showSlides<%=i%>(slideIndex);

							function plusSlides<%=i%>(n) {
								  showSlides<%=i%>(slideIndex += n);
							}

							function currentSlide(n) {
								showSlides<%=i%>(slideIndex = n);
							}

							function showSlides<%=i%>(n) {
							var k;
							var slides = document.getElementsByClassName("mySlides<%=i%>");
							var dots = document.getElementsByClassName("demo");
							var captionText = document.getElementById("caption");
							if (n > slides.length) {slideIndex = 1}
							if (n < 1) {slideIndex = slides.length}
							for (k = 0; k < slides.length; k++) {
								slides[k].style.display = "none";
							}
							for (k = 0; k < dots.length; k++) {
								dots[k].className = dots[k].className.replace(" active", "");
							}
							slides[slideIndex-1].style.display = "block";
							dots[slideIndex-1].className += " active";
							captionText.innerHTML = dots[slideIndex-1].alt;
							}
					</script>


					<% if(user && pubs[i].username == user.username) {%>
					<a href="/pub/edit/<%=pubs[i]._id%>" class="w3-button w3-btn w3-indigo w3-border w3-border-blue w3-round-xlarge">Editar</a>
					<a href="#" class="w3-button w3-btn w3-indigo w3-border w3-border-blue w3-round-xlarge delete-pub" data-id='<%=pubs[i]._id%>' >Remover</a>
					<%} %> 
					<button  class="w3-button w3-btn w3-indigo w3-border w3-border-blue w3-round-xlarge w3-right" onclick="myFunction('demo<%=i%>')"><b>Mostrar Comentários &nbsp;</b> <span class="w3-tag w3-white"><%=pubs[i].comentarios.length%></span></button>
					
					<% if(user ) {%>
						<% 	var gostou = false;
							for(var k=0;k < pubs[i].likes.length;k++)
								if(pubs[i].likes[k] == user.username)
									gostou = true;
								if(gostou == true){ %>
									<button class="w3-button w3-btn w3-indigo w3-border w3-border-blue w3-round-xlarge w3-right" onclick="myFunction3()"><b>LIKE &nbsp;</b> <span class="w3-tag w3-white"><%=pubs[i].likes.length%></span></button>
									
									<script>
									function myFunction3() {
										alert("Já gostou desta publicação!");
									}
									</script>
								<%}
							
							else{	%>
					<form action='/like/<%=pubs[i]._id%>' method='POST'>
						<button  class="w3-button w3-btn w3-indigo w3-border w3-border-blue w3-round-xlarge w3-right"><b>LIKE &nbsp;</b> <span class="w3-tag w3-white"><%=pubs[i].likes.length%></span></button>
					</form>
					<%} }%> 
					<div id="demo<%=i%>" style="display:none">
							<hr>
					<table class="w3-table w3-border">
							<% for (j=0; j < pubs[i].comentarios.length; j++){ %>
								<tr>
									<div class="w3-border">
										<div class="w3-container w3-blue">
											<b>Comentário de: </b><%= pubs[i].comentarios[j].autor %><br>
											<% data = new Date(Date.parse(pubs[i].comentarios[j].hora)) %>
											<%=data.getDate()%>/<%=data.getMonth()+1%>/<%=data.getFullYear()%>
											às <%=data.getHours()%>:<%if(data.getMinutes() < 10){%>0<%= data.getMinutes() %><% } else { %><%= data.getMinutes() %>
											<% } %>
										</div>
										<div class="w3-container">												
											<%= pubs[i].comentarios[j].comentario %>
										</div>
									</div>
								</tr>									
							<% } %>
						</table>

						</div>
						<hr>	
						<hr>
						<% if(user) {%>
						<form action='/comment/<%= pubs[i]._id %>' method='POST'>							
							<div>
								<input class="w3-input w3-border w3-animate-input" type='text' placeholder='Comentário' style="width:30%" name='comment'/><br>
								<input type='submit' value='Comentar' class='w3-button w3-btn w3-indigo w3-border w3-border-blue w3-round-xlarge' />								
							</div>
						</form>
						<% } %> 
					</div>
					<% }} %> 
					      	 
				<script>
					// Toggle between hiding and showing blog replies/comments
					
					function myFunction(id) {
						var x = document.getElementById(id);
						if (x.className.indexOf("w3-show") == -1) {
							x.className += " w3-show";
						} else { 
							x.className = x.className.replace(" w3-show", "");
						}
					}
					
					function likeFunction(x) {
						x.style.fontWeight = "bold";
						x.innerHTML = "&#10003; Liked";
					}
				</script>


			<% if(p==0 &&  noMatch==undefined) {%>
			&nbsp;
			<b> Sem publicações :( <br> &nbsp; Crie uma! </b><br>
			<% } %>
		</div>
	

	<div class="column side">

			<h3>Publicações mais Populares:</h3>
			<% 
			
			
			var topPubs = pubs.slice()

			topPubs.sort(function(a, b) {
				return b.likes.length - a.likes.length;
			});
			%>


			<ul>
					<% 
			for(var i=0; i<2; i++){
			if(topPubs[i].priv == 'public' || (user && topPubs[i].username == topPubs.username)){ 
				%>
				<li>
				<a href="/pub/show/<%= topPubs[i].id%>"><%= topPubs[i].titulo %></a>				
				</li>
				<% }} %>
			</ul>
	</div>
</div>
	<script>
	function expandCollapse() {
	if($(".submenu").css('display') == 'none') {
		$("#expand-collapse").html("&#8680");
		$(".submenu").show("slow");
	} else {
		$("#expand-collapse").html("&#8680");
		$(".submenu").hide("slow");
	}
}
	</script>

	<script>
		function expandCollapse2() {
		if($(".submenu2").css('display') == 'none') {
			$("#expand-collapse2").html("&#8680");
			$(".submenu2").show("slow");
		} else {
			$("#expand-collapse2").html("&#8680");
			$(".submenu2").hide("slow");
		}
	}
		</script>

    </body>
</html>