<%- include('header') -%>
<h3>Perfil: <%= userAux.name %></h3>
</header>

    <div class="row">
        <div class="column side">   
        <div class='w3-container w3-gray'>
            <table class='w3-table'>
                <tr>
                    <th>Username:</th>
                    <td><%= userAux.username %></td>
                </tr>
                <tr>
                    <th>Nome:</th>
                    <td><%= userAux.name %></td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td><%= userAux.email %></td>
                </tr>
            </table>
        </div>
        
        <% if(user && user.username == userAux.username){ %>
        <h3>Opções conta:</h3>
        <ul>    

            <li><a href="/download" class="btn btn-default">Apagar todas as minhas publicações</a></li>
            <li><a href="/download/pubs/<%= user.username %>" class="btn btn-default">Download de todas as minhas publicações</a></li>
        
            
        </ul>


        <% if(user.username == 'admin'){ %>
            <h3>Opções administrador:</h3>
            <ul>
                <li><a href="/download/pubs" class="btn btn-default">Download de todas as publicações</a></li>
                <li><a href="/users/download" class="btn btn-default">Download de todos users</a></li>
                <li><a href="#" class=" delete-pub" data-id='' >Apagar todas as publicações</a></li>
                <li>
                        <form action='/insdb' method='POST' enctype='multipart/form-data' >
                            <label>Inserir dados a partir de JSON </label></b>
                            <input type="file" name="fichdados" class="w3-input w3-border"/>
                            <input type="submit" value="Enviar" class="w3-btn w3-red"/>
                        </li>
                <%}%>
            </ul>
        
        <%}%>
    </div>


<div class="column middle">
    <div class='w3-container'>	
        
    <% for(var i=0; i<pubs.length; i++){%>
        
    <% if(pubs[i].priv == 'public' || (user && pubs[i].username == userAux.username)){ %>
        <div class="w3-card-4 w3-margin w3-white">                
        <header class="w3-container">
            <h3><b><%= pubs[i].tipo %></b></h3>
        </header>

        <table class='w3-table'>
            <% if(pubs[i].hora != "" && pubs[i].hora != null){ %>
            <tr>
                <th>Publicação de </th>
                <td><%= pubs[i].hora %></td> 
            </tr>
            <% } %>       
            <% if(pubs[i].titulo != "" && pubs[i].titulo != null){%>						
            <tr>
                <th>Titulo </th>
                <td><%= pubs[i].titulo %></td>  
            </tr>
            <% } %>       
            <% if(pubs[i].local != "" && pubs[i].local != null){%>						
            <tr>
                <th>Local </th>
                <td><%= pubs[i].local %></td>  
            </tr>
            <% } %>
            <% if(pubs[i].desc != "" && pubs[i].desc != null){%>						
            <tr>
                <th>Descrição </th>
                <td><%= pubs[i].desc %></td> 
            </tr>
            <% } %>
            <% if(pubs[i].duracao != "" && pubs[i].duracao != null){%>						
            <tr>
                <th>Duração </th>
                <td><%= pubs[i].duracao %></td> 
            </tr>
            <% } %>
            <% if(pubs[i].actividade != "" && pubs[i].actividade != null){%>						
            <tr>
                <th>Actividade </th>
                <td><%= pubs[i].actividade %></td> 
            </tr>
            <% } %>
            <% if(pubs[i].creditacao != "" && pubs[i].creditacao != null){%>						
            <tr>
                <th>Creditação </th>
                <td><%= pubs[i].creditacao %></td> 
            </tr>
            <% } %>					
            <tr>
                <th>Autor </th>
                <td><a href="/users/p/<%= pubs[i].username%>"><%= pubs[i].autor %></a></td> 
            </tr>
            <% if(pubs[i].pic){
            for(j = 0; j < pubs[i].pic.length; j++){ 
            if(pubs[i].pic[j] != "" && pubs[i].pic[j] != null){%>						
                <tr>
                    <th>Foto <%= j+1%>: </th>
                    <td>
                        
                        <element onclick='openModal<%=i%>();currentSlide(<%=j+1%>)'  class="hover-shadow cursor"><%= pubs[i].pic[j].nome_img %></element>
                    </td> 
                </tr>
            <% }}} %>
            <div id="myModal<%=i%>" class="modal">
                <span class="close cursor" onclick="closeModal<%=i%>()">&times;</span>
                <div class="modal-content">		
                <% if(pubs[i].pic){
                    for(j = 0; j < pubs[i].pic.length; j++){ 
                    if(pubs[i].pic[j] != "" && pubs[i].pic[j] != null){%>	

                    <div class="mySlides<%=i%>">
                        <div class="numbertext"><%=j+1%> / <%=pubs[i].pic.length%></div>
                        <img src='http://localhost:3000/images/<%=pubs[i].pic[j].id_img%>' style="width:100%" class="center fit" >
                    </div>
                <% }}} %>
                <!-- Next/previous controls -->
                <a class="prev" onclick="plusSlides<%=i%>(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides<%=i%>(1)">&#10095;</a>
                </div>
            </div>
            
        </table>
        <script>
                function openModal<%=i%>() {
                  document.getElementById('myModal<%=i%>').style.display = "block";
                }
                
                function closeModal<%=i%>() {
                  document.getElementById('myModal<%=i%>').style.display = "none";
                }

                var slideIndex = 1;
                showSlides<%=i%>(slideIndex);

                function plusSlides<%=i%>(n) {
                      showSlides<%=i%>(slideIndex += n);
                }

                function currentSlide(n) {
                    showSlides<%=i%>(slideIndex = n);
                }

                function showSlides<%=i%>(n) {
                var k;
                var slides = document.getElementsByClassName("mySlides<%=i%>");
                var dots = document.getElementsByClassName("demo");
                var captionText = document.getElementById("caption");
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (k = 0; k < slides.length; k++) {
                    slides[k].style.display = "none";
                }
                for (k = 0; k < dots.length; k++) {
                    dots[k].className = dots[k].className.replace(" active", "");
                }
                slides[slideIndex-1].style.display = "block";
                dots[slideIndex-1].className += " active";
                captionText.innerHTML = dots[slideIndex-1].alt;
                }
        </script>
        <% if(user && pubs[i].username == user.username) {%>
            <a href="/pub/edit/<%=pubs[i]._id%>" class="w3-button w3-btn w3-indigo w3-border w3-border-blue w3-round-xlarge">Editar</a>
            <a href="#" class="w3-button w3-btn w3-indigo w3-border w3-border-blue w3-round-xlarge delete-pub" data-id='<%=pubs[i]._id%>' >Remover</a>
        <%} %> 
        
    </fieldset>
    </div>

        <% }} %> 
    </div>

</div>
</body>